---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:fUyes6Wl8MPGieSdzMIQMA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:fUyes6Wl8MPGieSdzMIQMA:i5RzST8yzFDacSns
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[]}}'
  recorded_at: Thu, 31 May 2018 10:02:19 GMT
recorded_with: VCR 4.0.0
