---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:SBV2FHNF19tLhTfUZco98Q
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:SBV2FHNF19tLhTfUZco98Q:2QkS02Cf51Zoeynl
      X-Gdc-Request-Time:
      - '64'
    body:
      encoding: ASCII-8BIT
      string: '{"projectRoles":{"roles":["/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/2","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/7","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/5","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/3","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/9","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/8","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/1","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/4"],"links":{"project":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/"}}}'
  recorded_at: Thu, 31 May 2018 09:33:18 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:NpvbYYeHM_5vOxcedtuYxA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:NpvbYYeHM_5vOxcedtuYxA:RIinkdJx6BSAvjTi
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"0","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"links":{"roleUsers":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/2/users"},"meta":{"created":"2018-05-31
        11:33:12","identifier":"adminRole","summary":"project master","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","updated":"2018-05-31
        11:33:12","title":"Admin","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 31 May 2018 09:33:18 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/users
    body:
      encoding: UTF-8
      string: '{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-Adding+user+without+domain+should+fail+if+it+is+not+in+the+domain-0@gooddata.com"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:ENJqYosYf9WAVI0luxslOA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:ENJqYosYf9WAVI0luxslOA:q2lAzFAgrZ2Ro7ER
      X-Gdc-Request-Time:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"projectUsersUpdateResult":{"successful":[],"failed":[{"user":"/gdc/account/profile/gemtest-Adding+user+without+domain+should+fail+if+it+is+not+in+the+domain-0@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"}]}}'
  recorded_at: Thu, 31 May 2018 09:33:22 GMT
recorded_with: VCR 4.0.0
