---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=q2elifbiirw3y51p2j7k3gvuz1jorinf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:jGL6kAzzzz7TpaIiiVMqPg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:jGL6kAzzzz7TpaIiiVMqPg:sADmOKOaBkNBaaHl
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bMbj6ABXp6tQC3qi2QB8OEA","description":"My Test Description","domain":null,"project":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf"},"meta":{"created":"2018-05-31
        12:02:09","updated":"2018-05-31 12:02:09"},"links":{"self":"/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA","members":"/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA/members","modifyMembers":"/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA/modifyMembers"}}}]}}'
  recorded_at: Thu, 31 May 2018 10:02:11 GMT
recorded_with: VCR 4.0.0
