---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/styleSettings
    body:
      encoding: UTF-8
      string: '{"styleSettings":{"chartPalette":[{"guid":"first","fill":{"r":155,"g":255,"b":0}}]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:aI1Z-TnphjSs6ocaQ-RByg
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '10'
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:aI1Z-TnphjSs6ocaQ-RByg:N2lxJOei3J4GzPxs
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 09:50:25 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/styleSettings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:nrX7bk6FPBHGUHEoDO0WnQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '8'
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:nrX7bk6FPBHGUHEoDO0WnQ:mVS6vNIuinZqEDAy
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 09:50:26 GMT
recorded_with: VCR 4.0.0
