---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:Fv0MlknFTjNgHRKEOwLYFQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:Fv0MlknFTjNgHRKEOwLYFQ:hrRHTPscRemqcfO7
      X-Gdc-Request-Time:
      - '65'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-05-31 11:42:23","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"user":{"content":{"email":"gemtest-updates+user%27s+name+and+surname+and+removes+the+users-0@gooddata.com","firstname":"the","userRoles":["/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/4"],"phonenumber":null,"status":"DISABLED","lastname":"gemtest-Updates+user%27s+name+and+surname+and+removes+the+users-0","login":"gemtest-updates+user%27s+name+and+surname+and+removes+the+users-0@gooddata.com"},"links":{"roles":"/gdc/projects/ghw[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=ghw4sq2hu8glp55gyq20q67ixx1wiku1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:jBcTt4MFy9fDjcoTcPHF8A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:jBcTt4MFy9fDjcoTcPHF8A:C0PlCmL4SQckzLHu
      X-Gdc-Request-Time:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"group_2","id":"bAkIjNRd69dL8xB-PSBw6CA","description":null,"domain":null,"project":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1"},"meta":{"created":"2018-05-31
        11:46:56","updated":"2018-05-31 11:46:56"},"links":{"self":"/gdc/userGroups/bAkIjNRd69dL8xB-PSBw6CA","members":"/gdc/userGroups/bAkIjNRd69dL8xB-PSBw6CA/members","modifyMembers":"/gdc/userGroups/bAkIjNRd69dL8xB-PSBw6CA/modifyMembers"}}},{"userGroup":{"content":{"name":"group_1","id":"bkc5KOmD55iE6vmRADoYNgg","description":null,"domain":null,"project":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1"},"meta":{"created":"2018-05-31
        11:46:55","updated":"2018-05-31 11:46:55"},"links":{"self":"/gdc/userGroups/bkc5KOmD55iE6vmRADoYNgg","members":"/gdc/userGroups/bkc5KOmD55iE6vmRADoYNgg/members","modifyMembers":"/gdc/userGroups/bkc5KOmD55iE6vmRADoYNgg/modifyMembers"}}}]}}'
  recorded_at: Thu, 31 May 2018 09:49:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:cStxoCtrGfk2FiN6Vk1hKg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:cStxoCtrGfk2FiN6Vk1hKg:g27Ixk3f4R4ni3Io
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"projectRoles":{"roles":["/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/2","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/7","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/5","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/3","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/9","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/8","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/1","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/4"],"links":{"project":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/"}}}'
  recorded_at: Thu, 31 May 2018 09:49:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:jgx1cPFB819NIM6YXc-YJA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:jgx1cPFB819NIM6YXc-YJA:bOSx12gZdjD2ccCD
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"0","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"links":{"roleUsers":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/2/users"},"meta":{"created":"2018-05-31
        11:33:12","identifier":"adminRole","summary":"project master","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","updated":"2018-05-31
        11:33:12","title":"Admin","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 31 May 2018 09:49:17 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups
    body:
      encoding: UTF-8
      string: '{"userGroup":{"content":{"name":"new_group","description":"new_group","project":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:oG5sA1yv0oGnTMbYgVhcqA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:oG5sA1yv0oGnTMbYgVhcqA:O19UPjNQeMSw1txY
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/userGroups/bZ0SmkPwoRZtQRGokRfAJ3g"}'
  recorded_at: Thu, 31 May 2018 09:49:29 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bZ0SmkPwoRZtQRGokRfAJ3g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:mH5yXNv6yWgOqa7R9xhXzA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:mH5yXNv6yWgOqa7R9xhXzA:nUjTi4BWZzc8ZTmR
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"new_group","id":"bZ0SmkPwoRZtQRGokRfAJ3g","description":"new_group","domain":null,"project":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1"},"meta":{"created":"2018-05-31
        11:49:29","updated":"2018-05-31 11:49:29"},"links":{"self":"/gdc/userGroups/bZ0SmkPwoRZtQRGokRfAJ3g","members":"/gdc/userGroups/bZ0SmkPwoRZtQRGokRfAJ3g/members","modifyMembers":"/gdc/userGroups/bZ0SmkPwoRZtQRGokRfAJ3g/modifyMembers"}}}'
  recorded_at: Thu, 31 May 2018 09:49:30 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-4@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-3@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-0@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-2@gooddata.com"}}},{"user":{"content":{"status":"DISABLED"},"links":{"self":"/gdc/account/profile/gemtest-transfers+groups+from+hashes-1@gooddata.com"}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:qBhQ5pXNYW-_oVYJPJGC5A
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:qBhQ5pXNYW-_oVYJPJGC5A:rQwsyv014DM9n4A3
      X-Gdc-Request-Time:
      - '569'
    body:
      encoding: ASCII-8BIT
      string: '{"projectUsersUpdateResult":{"successful":["/gdc/account/profile/gemtest-transfers+groups+from+hashes-1@gooddata.com","/gdc/account/profile/gemtest-transfers+groups+from+hashes-2@gooddata.com","/gdc/account/profile/gemtest-transfers+groups+from+hashes-4@gooddata.com","/gdc/account/profile/gemtest-transfers+groups+from+hashes-3@gooddata.com","/gdc/account/profile/gemtest-transfers+groups+from+hashes-0@gooddata.com"],"failed":[]}}'
  recorded_at: Thu, 31 May 2018 09:49:31 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bZ0SmkPwoRZtQRGokRfAJ3g/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:e6EeuWQtBMHO9CpZ70sKrQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:e6EeuWQtBMHO9CpZ70sKrQ:0I806POzzY3T3OsY
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 09:49:32 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bAkIjNRd69dL8xB-PSBw6CA/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:10GdWE9-SWqIOpXrIOXvMg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:10GdWE9-SWqIOpXrIOXvMg:5D4P1QXMZAoJDkfn
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"gemtest-transfers+groups+from+hashes-1"},"links":{"self":"/gdc/account/profile/9d68aa32b01ec6000dcaff026f7b9aee"}}}]}}'
  recorded_at: Thu, 31 May 2018 09:49:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/9d68aa32b01ec6000dcaff026f7b9aee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:SE7aalznBj8E-fYArvFJfA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:SE7aalznBj8E-fYArvFJfA:sE6o2YdjlJxxKHPv
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"gemtest-transfers+groups+from+hashes-1@gooddata.com","updated":"2018-05-31
        11:47:31","lastName":"gemtest-transfers+groups+from+hashes-1","phoneNumber":null,"links":{"auditEvents":"/gdc/account/profile/9d68aa32b01ec6000dcaff026f7b9aee/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/9d68aa32b01ec6000dcaff026f7b9aee","projects":"/gdc/account/profile/9d68aa32b01ec6000dcaff026f7b9aee/projects"},"firstName":"the","country":null,"ssoProvider":null,"language":"en-US","timezone":null,"ipWhitelist":null,"companyName":null,"authenticationModes":[],"login":"gemtest-transfers+groups+from+hashes-1@gooddata.com","created":"2018-05-30
        12:25:07"}}'
  recorded_at: Thu, 31 May 2018 09:49:34 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bAkIjNRd69dL8xB-PSBw6CA/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:mkYzHhaWnTINPwSYl5zoAQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:mkYzHhaWnTINPwSYl5zoAQ:c5oE8UyuIJHQ0P0C
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 09:49:34 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bkc5KOmD55iE6vmRADoYNgg/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:medbXinBRnoRgAn6yDXzZQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bkc5KOmD55iE6vmRADoYNgg/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":[]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:KHM-x10-6PyLcTwGFDdOcA
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:KHM-x10-6PyLcTwGFDdOcA:6sf4hDwYMcHa2QXW
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 09:49:38 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bZ0SmkPwoRZtQRGokRfAJ3g/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:MRc1EdaRQIiSQXShMlIvYw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:MRc1EdaRQIiSQXShMlIvYw:Mu8eospQj3UkCw2G
      X-Gdc-Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Thu, 31 May 2018 09:49:40 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:KDriX7asK3sIzRMzVxKUVw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:KDriX7asK3sIzRMzVxKUVw:Q4JxZkJtjV2F5ek3
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-05-31
        11:42:23","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Thu, 31 May 2018 09:49:40 GMT
recorded_with: VCR 4.0.0
