---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:kLGi5fuGvylgP01NmlliNw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:kLGi5fuGvylgP01NmlliNw:lghTf9J0zoSMr3OB
      X-Gdc-Request-Time:
      - '65'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-05-31 11:42:23","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"user":{"content":{"email":"gemtest-updates+user%27s+name+and+surname+and+removes+the+users-0@gooddata.com","firstname":"the","userRoles":["/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/4"],"phonenumber":null,"status":"DISABLED","lastname":"gemtest-Updates+user%27s+name+and+surname+and+removes+the+users-0","login":"gemtest-updates+user%27s+name+and+surname+and+removes+the+users-0@gooddata.com"},"links":{"roles":"/gdc/projects/ghw[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/users/4b734bca5001a4003c50e719e2b22aa0/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:Gd6jDvigPyOAR7LXjWwG6g
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:Gd6jDvigPyOAR7LXjWwG6g:uuw7SMXdzCt3YixP
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"associatedRoles":{"roles":["/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/5"],"links":{"project":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/","user":"/gdc/account/profile/4b734bca5001a4003c50e719e2b22aa0"}}}'
  recorded_at: Thu, 31 May 2018 09:46:00 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:eP5WEd0ae1rdgiQ3lFxuYQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:eP5WEd0ae1rdgiQ3lFxuYQ:CyCuRzirqVj1MJnI
      X-Gdc-Request-Time:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"0","canManageIntegration":"0","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"0","canCreateTableDataLoad":"0","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"0","canCreateHelp":"0","canManageDomain":"1","canManageAttributeLabel":"0","canManageReport":"1","canExportReport":"1","canCreateColumn":"0","canManageDataSet":"0","canSetUserVariables":"0","canCreateAttributeGroup":"0","canValidateProject":"0","canSetStyle":"0","canMaintainProject":"0","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"0","canManageIsProduction":"0","canMaintainUserFilterRelation":"0","canManageAttribute":"0","canManageReportDefinition":"1","canManageTranslations":"0","canMaintainUserFilter":"0","canCreateReport":"1","canSetLocale":"0","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"0","canManageExecutionContext":"1","canCreateTable":"0","canManageTableDataLoad":"0","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"0","canManagePrompt":"0","canAccessWorkbench":"1","canCreateAttributeLabel":"0","canCreateVisualizationClass":"0","canManageColumn":"0","canCreatePrompt":"0","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"0","canManageMetric":"1","canManageHelp":"0","canSetProjectVariables":"0","canManageTable":"0","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"0","canManageScheduledMail":"1","canListInvitationsInProject":"0","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"0","canCreateAttribute":"0","canAssignUserWithRole":"0","canCreateAnalyticalDashboard":"1"},"links":{"roleUsers":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/5/users"},"meta":{"created":"2018-05-31
        11:33:12","identifier":"editorRole","summary":"invited user","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","updated":"2018-05-31
        11:33:12","title":"Editor","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 31 May 2018 09:46:00 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:_u2QxkQ1g0aURaTLBunUDQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:_u2QxkQ1g0aURaTLBunUDQ:QA4QDsAmCZKExdtu
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"projectRoles":{"roles":["/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/2","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/7","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/5","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/3","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/9","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/8","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/1","/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/4"],"links":{"project":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/"}}}'
  recorded_at: Thu, 31 May 2018 09:46:35 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-properly+updates+user+roles+as+needed-1@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/rol[...]
[...]
