---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:9lu1NbVokoReJFEu9avnwg
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:9lu1NbVokoReJFEu9avnwg:M9p1MV0cE0s3Umal
      X-Gdc-Request-Time:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Thu, 31 May 2018 10:01:53 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:RNNa3jmuDchkULQ2Y68bHA
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:RNNa3jmuDchkULQ2Y68bHA:aZEybLE3lqBYXblL
      X-Gdc-Request-Time:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 31 May 2018 10:01:54 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:mZiptWP50gxuSgPp3g2erg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:mZiptWP50gxuSgPp3g2erg:cYhXomg97jkUe3Lw
      X-Gdc-Request-Time:
      - '91'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-05-31
        11:42:23","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","timezone":null,"language":"en-US","ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Thu, 31 May 2018 10:01:54 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:E7HEMFtKuQnrX49HG80hCQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:E7HEMFtKuQnrX49HG80hCQ:3XPIKgAOn1puGvW2
      X-Gdc-Request-Time:
      - '55'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Thu, 31 May 2018 10:01:55 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"UserGroup Testing
        Project"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:kpapI4gy9KQyU8iBTbtamQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:kpapI4gy9KQyU8iBTbtamQ:Wp84BhW6hTCbFuId
      X-Gdc-Request-Time:
      - '516'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf"}'
  recorded_at: Thu, 31 May 2018 10:01:56 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:7tysGL-iXL2lsbZYcXJejw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:7tysGL-iXL2lsbZYcXJejw:zjLp4iiVG70Iss3x
      X-Gdc-Request-Time:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/ldm?thumbnail=1","self":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf","clearCaches":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/clearCaches","invitations":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/invitations","users":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/uploads/","ldm":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/ldm","metadata":"/gdc/md/q2elifbiirw3y51p2j7k3gvuz1jorinf","publicartifacts":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/publicartifacts","roles":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles","userRoles":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/dataload","connectors":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/connectors","execute":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/execute","config":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/config","projectFeatureFlags":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/projectFeatureFlags","schedules":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/schedules","templates":"/gdc/md/q2elifbiirw3y51p2j7k3gvuz1jorinf/templates","eventstores":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/dataload/eventstore/stores"},"meta":{"created":"2018-05-31
        12:01:55","summary":"No summary","updated":"2018-05-31 12:01:56","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"UserGroup
        Testing Project","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 31 May 2018 10:01:56 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:hZYzz3FgvnO-hqckzk8IKQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:hZYzz3FgvnO-hqckzk8IKQ:UGMe2DI1JtP894ds
      X-Gdc-Request-Time:
      - '61'
    body:
      encoding: ASCII-8BIT
      string: '{"projectRoles":{"roles":["/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles/2","/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles/7","/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles/5","/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles/3","/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles/9","/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles/8","/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles/1","/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles/4"],"links":{"project":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/"}}}'
  recorded_at: Thu, 31 May 2018 10:02:03 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:L9zFHJMVQjXKl3bi0AJlAg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:L9zFHJMVQjXKl3bi0AJlAg:Uc6R0HRYw7fS171P
      X-Gdc-Request-Time:
      - '91'
    body:
      encoding: ASCII-8BIT
      string: '{"projectRole":{"permissions":{"canAccessIntegration":"1","canCreateProjectDashboard":"1","canExportDashboard":"1","canManageComment":"1","canExecute":"1","canInitData":"1","canManageIntegration":"1","canCreateExecutionContext":"1","canManageFolder":"1","canInviteUserToProject":"1","canCreateTableDataLoad":"1","canCreateDomain":"1","canSeeOtherUserDetails":"1","canManageACL":"1","canManageAnalyticalDashboard":"1","canCreateRole":"0","canCreateProjectTemplates":"0","canCreateHelp":"1","canManageDomain":"1","canManageAttributeLabel":"1","canManageReport":"1","canExportReport":"1","canCreateColumn":"1","canManageDataSet":"1","canSetUserVariables":"1","canCreateAttributeGroup":"1","canValidateProject":"1","canSetStyle":"1","canMaintainProject":"1","canCreateETLFile":"1","canCreateScheduledMail":"1","canSuspendUserFromProject":"1","canManageIsProduction":"1","canMaintainUserFilterRelation":"1","canManageAttribute":"1","canManageReportDefinition":"1","canManageTranslations":"1","canMaintainUserFilter":"1","canCreateReport":"1","canSetLocale":"1","canEnrichData":"1","canUploadNonProductionCSV":"1","canManageETLFile":"1","canCreateComment":"1","canCreateDataSet":"1","canManageExecutionContext":"1","canCreateTable":"1","canManageTableDataLoad":"1","canRefreshData":"1","canCreateMetric":"1","canManageFilterSettings":"1","canManageProjectDashboard":"1","canManageProject":"1","canManagePrompt":"1","canAccessWorkbench":"1","canCreateAttributeLabel":"1","canCreateVisualizationClass":"1","canManageColumn":"1","canCreatePrompt":"1","canManagePublicAccessCode":"0","canListUsersInProject":"1","canManageAttributeGroup":"1","canManageMetric":"1","canManageHelp":"1","canSetProjectVariables":"1","canManageTable":"1","canCreateVisualization":"1","canCreateFolder":"1","canManageFact":"1","canManageScheduledMail":"1","canListInvitationsInProject":"1","canCreateFilterSettings":"1","canExecuteRaw":"1","canSeePublicAccessCode":"0","canCreateReportDefinition":"1","canManageVisualization":"1","canCreateFact":"1","canCreateAttribute":"1","canAssignUserWithRole":"1","canCreateAnalyticalDashboard":"1"},"links":{"roleUsers":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles/2/users"},"meta":{"created":"2018-05-31
        12:01:58","identifier":"adminRole","summary":"project master","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","updated":"2018-05-31
        12:01:58","title":"Admin","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 31 May 2018 10:02:04 GMT
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/users
    body:
      encoding: UTF-8
      string: '{"users":[{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-0@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-1@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-2@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-3@gooddata.com"}}},{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles/2"]},"links":{"self":"/gdc/account/profile/gemtest-user+group+spec-4@gooddata.com"}}}]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:W4-2x79-p6qkzaOtB2EXmg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:W4-2x79-p6qkzaOtB2EXmg:QcNv5kokqIFLLuXy
      X-Gdc-Request-Time:
      - '61'
    body:
      encoding: ASCII-8BIT
      string: '{"projectUsersUpdateResult":{"successful":[],"failed":[{"user":"/gdc/account/profile/gemtest-user+group+spec-0@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"},{"user":"/gdc/account/profile/gemtest-user+group+spec-1@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"},{"user":"/gdc/account/profile/gemtest-user+group+spec-2@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"},{"user":"/gdc/account/profile/gemtest-user+group+spec-3@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"},{"user":"/gdc/account/profile/gemtest-user+group+spec-4@gooddata.com","message":"Cannot
        add user to project. User doesn''t exist"}]}}'
  recorded_at: Thu, 31 May 2018 10:02:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/users?limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:uyi_DAB0ZmJvI8YHQVpsuw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:uyi_DAB0ZmJvI8YHQVpsuw:B5RufZBhNJ1JD5yA
      X-Gdc-Request-Time:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"user":{"content":{"email":"rubydev+admin@gooddata.com","firstname":"the","userRoles":["/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/roles/2"],"phonenumber":"","status":"ENABLED","lastname":"1","login":"rubydev+admin@gooddata.com"},"links":{"roles":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/users/5ad80b895edcc438e5a4418e222733fa/roles","permissions":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/users/5ad80b895edcc438e5a4418e222733fa/permissions","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects","projectRelUri":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf/users/5ad80b895edcc438e5a4418e222733fa"},"meta":{"created":"2017-02-10
        12:18:01","updated":"2018-05-31 11:42:23","author":"/gdc/account/profile/25b25d6c1cd5816c6de55f95b119d8cc","title":"the
        1","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}'
  recorded_at: Thu, 31 May 2018 10:02:09 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups
    body:
      encoding: UTF-8
      string: '{"userGroup":{"content":{"name":"My Test Group","description":"My Test
        Description","project":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:mvX0PJXwCOXhfG5Hi6CG9Q
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:mvX0PJXwCOXhfG5Hi6CG9Q:veqLi4D78n1axctP
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA"}'
  recorded_at: Thu, 31 May 2018 10:02:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:uCVm_5ft_rxAdIBiamG7tA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:uCVm_5ft_rxAdIBiamG7tA:ueOeBctu4hkDRCs8
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"My Test Group","id":"bMbj6ABXp6tQC3qi2QB8OEA","description":"My
        Test Description","domain":null,"project":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf"},"meta":{"created":"2018-05-31
        12:02:09","updated":"2018-05-31 12:02:09"},"links":{"self":"/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA","members":"/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA/members","modifyMembers":"/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA/modifyMembers"}}}'
  recorded_at: Thu, 31 May 2018 10:02:10 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - X2Kzif1gDjqyytk4cg-TMw:F5CvQx2zA3hAvy63y9MpOw
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - X2Kzif1gDjqyytk4cg-TMw:F5CvQx2zA3hAvy63y9MpOw:SJKJTM1f9lq3mmeq
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 10:02:22 GMT
recorded_with: VCR 4.0.0
