---
http_interactions:
- request:
    method: put
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA
    body:
      encoding: UTF-8
      string: '{"userGroup":{"content":{"name":"This is new name","id":"bMbj6ABXp6tQC3qi2QB8OEA","description":"This
        is new description","domain":null,"project":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:LroZ78JoJt9IYUaqc6yZ4g
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:LroZ78JoJt9IYUaqc6yZ4g:NMOfFJvkuMM4Rqux
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 10:02:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:AUb1975fCPjRf_N8B68RGw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:AUb1975fCPjRf_N8B68RGw:1lAXpZZZ9xLXrWBH
      X-Gdc-Request-Time:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroup":{"content":{"name":"This is new name","id":"bMbj6ABXp6tQC3qi2QB8OEA","description":"This
        is new description","domain":null,"project":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf"},"meta":{"created":"2018-05-31
        12:02:09","updated":"2018-05-31 12:02:20"},"links":{"self":"/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA","members":"/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA/members","modifyMembers":"/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA/modifyMembers"}}}'
  recorded_at: Thu, 31 May 2018 10:02:20 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=q2elifbiirw3y51p2j7k3gvuz1jorinf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:YOHu6-Wyqmhnt2h5RMseYQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:YOHu6-Wyqmhnt2h5RMseYQ:BxySYyK4a11hJlsE
      X-Gdc-Request-Time:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"This
        is new name","id":"bMbj6ABXp6tQC3qi2QB8OEA","description":"This is new description","domain":null,"project":"/gdc/projects/q2elifbiirw3y51p2j7k3gvuz1jorinf"},"meta":{"created":"2018-05-31
        12:02:09","updated":"2018-05-31 12:02:20"},"links":{"self":"/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA","members":"/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA/members","modifyMembers":"/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA/modifyMembers"}}}]}}'
  recorded_at: Thu, 31 May 2018 10:02:21 GMT
recorded_with: VCR 4.0.0
