---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - 8H3sNt_A_q-i439n02UhPg:Uc4TE5mNJQugyKYem9YULg
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8H3sNt_A_q-i439n02UhPg:Uc4TE5mNJQugyKYem9YULg:YmS7uhax80q5lSZZ
      X-Gdc-Request-Time:
      - '72'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Thu, 31 May 2018 12:57:01 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8H3sNt_A_q-i439n02UhPg:cL13kJaFWDGPfyD5C_dT1A
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - 8H3sNt_A_q-i439n02UhPg:cL13kJaFWDGPfyD5C_dT1A:oU7cKNK7vd1CGE8G
      X-Gdc-Request-Time:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 31 May 2018 12:57:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8H3sNt_A_q-i439n02UhPg:QsEhonsz-Ne6yRoTY6dFEg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8H3sNt_A_q-i439n02UhPg:QsEhonsz-Ne6yRoTY6dFEg:RT6PwjeO1ImVqqUP
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-05-31
        14:39:02","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Thu, 31 May 2018 12:57:02 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8H3sNt_A_q-i439n02UhPg:T0C0G0RkSNlLzeYUXpU6bg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8H3sNt_A_q-i439n02UhPg:T0C0G0RkSNlLzeYUXpU6bg:4sBLbZlRBR3zI6E4
      X-Gdc-Request-Time:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Thu, 31 May 2018 12:57:03 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/domains/staging2-lcm-prod/users
    body:
      encoding: UTF-8
      string: '{"accountSetting":{"login":"gemtest799971@gooddata.com","firstName":"X","lastName":"X","password":"<PASSWORD>","verifyPassword":"<PASSWORD>","email":"gemtest799971@gooddata.com","language":"en-US"}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 8H3sNt_A_q-i439n02UhPg:0ShRJBvekY4jd1-6LZXe9g
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/gdc/account/profile/38709e7479eb1a44c68a294e7c9246bf"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - 8H3sNt_A_q-i439n02UhPg:0ShRJBvekY4jd1-6LZXe9g:rEVX1XzNbvGS42T5
      X-Gdc-Request-Time:
      - '163'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/account/profile/38709e7479eb1a44c68a294e7c9246bf"}'
  recorded_at: Thu, 31 May 2018 12:57:03 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - qAKjEiC3X3_Y6rCbMMNMqg:YwIQvVQPsKvBTzC1Yx756A
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - qAKjEiC3X3_Y6rCbMMNMqg:YwIQvVQPsKvBTzC1Yx756A:Hh8VwS88Y2QwbQOB
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 12:57:05 GMT
recorded_with: VCR 4.0.0
