---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA/modifyMembers
    body:
      encoding: UTF-8
      string: '{"modifyMembers":{"operation":"SET","items":["/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"]}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:HniA0Eg_MrWBXf5HFqQXIA
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '13'
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:HniA0Eg_MrWBXf5HFqQXIA:bC8oE6CRYZocnxVx
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 10:02:15 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups/bMbj6ABXp6tQC3qi2QB8OEA/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:Ari4YTt-BdX7AhdL1y7FBw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:Ari4YTt-BdX7AhdL1y7FBw:dxH8gjzkuWaVee3a
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroupMembers":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"user":{"content":{"firstName":"the","lastName":"1"},"links":{"self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}]}}'
  recorded_at: Thu, 31 May 2018 10:02:16 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:KUVfZbNFaxsKIDVbL78cIg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - Iw3jUi8skxyt2ANuxwxnCQ:KUVfZbNFaxsKIDVbL78cIg:YfdnxgZEn6OQSLIA
      X-Gdc-Request-Time:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-05-31
        11:42:23","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Thu, 31 May 2018 10:02:16 GMT
recorded_with: VCR 4.0.0
