---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"rubydev+admin@gooddata.com","password":"<PASSWORD>","remember":1,"verify_level":2}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - ''
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:k9RIqVfTXWiu3Z6UoAA_CQ
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:k9RIqVfTXWiu3Z6UoAA_CQ:gzF9W5lsJBy7EZMh
      X-Gdc-Request-Time:
      - '76'
    body:
      encoding: ASCII-8BIT
      string: '{"userLogin":{"profile":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","state":"/gdc/account/login/5ad80b895edcc438e5a4418e222733fa","token":"<TOKEN>"}}'
  recorded_at: Thu, 31 May 2018 09:33:07 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:dtPwPO-N0HgQmm8Tba80lg
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
      Dont-Reauth:
      - 'true'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:dtPwPO-N0HgQmm8Tba80lg:kcBLRI5brAlDK1kN
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"userToken":{"token":"<TOKEN>"}}'
  recorded_at: Thu, 31 May 2018 09:33:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:aJ4ziSAlQwmXiSCVWDbiyw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:aJ4ziSAlQwmXiSCVWDbiyw:lMnOrMXlE38QX1fV
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"accountSetting":{"position":null,"effectiveIpWhitelist":null,"email":"rubydev+admin@gooddata.com","updated":"2018-05-31
        11:09:43","lastName":"1","phoneNumber":"","links":{"auditEvents":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/auditEvents","domain":"/gdc/domains/staging2-lcm-prod","self":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","projects":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa/projects"},"firstName":"the","country":null,"ssoProvider":"test-ruby","language":"en-US","timezone":null,"ipWhitelist":null,"companyName":"","authenticationModes":["PASSWORD","SSO"],"login":"rubydev+admin@gooddata.com","created":"2017-02-10
        12:18:01"}}'
  recorded_at: Thu, 31 May 2018 09:33:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:yGhmUj3RNUTHpevn7lgfFw
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:yGhmUj3RNUTHpevn7lgfFw:LIMJVJRH6VyY9qcn
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"about":{"summary":"Use links to navigate the services.","category":"GoodData
        API root","links":[{"link":"/gdc/","summary":"","category":"home","title":"home"},{"link":"/gdc/account/token","summary":"Temporary
        token generator.","category":"token","title":"token"},{"link":"/gdc/account/login","summary":"Authentication
        service.","category":"login","title":"login"},{"link":"/gdc/md","summary":"Metadata
        resources.","category":"md","title":"metadata"},{"link":"/gdc/xtab2","summary":"Report
        execution resource.","category":"xtab","title":"xtab"},{"link":"/gdc/exporter","summary":"Report
        exporting resource.","category":"report-exporter","title":"exporter"},{"link":"/gdc/account","summary":"Resource
        for logged in account manipulation.","category":"account","title":"account"},{"link":"/gdc/projects","summary":"Resource
        for user and project management.","category":"projects","title":"projects"},{"link":"/gdc/tool","summary":"Miscellaneous
        resources.","category":"tool","title":"tool"},{"link":"/gdc/releaseInfo","summary":"Release
        information.","category":"releaseInfo","title":"releaseInfo"},{"link":"/gdc/uploads","summary":"User
        data staging area.","category":"uploads","title":"user-uploads"}]}}'
  recorded_at: Thu, 31 May 2018 09:33:09 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects
    body:
      encoding: UTF-8
      string: '{"project":{"meta":{"summary":"No summary","title":"GoodTravis"},"content":{"guidedNavigation":1,"driver":"Pg","environment":"TESTING","authorizationToken":"<AUTHORIZATION_TOKEN>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:5iNb3ftS_Y1RG01qaAWFMg
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:5iNb3ftS_Y1RG01qaAWFMg:L0wuW51Pbqb111rP
      X-Gdc-Request-Time:
      - '491'
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1"}'
  recorded_at: Thu, 31 May 2018 09:33:10 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:62EEUtGonJrAaRzW-exTGQ
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - u43_9LC4Kaa48UoLg_acpw:62EEUtGonJrAaRzW-exTGQ:RnapnTzqfBA1XnII
      X-Gdc-Request-Time:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"content":{"environment":"TESTING","cluster":"","guidedNavigation":"1","isPublic":"0","driver":"Pg","state":"PREPARING"},"links":{"ldm_thumbnail":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/ldm?thumbnail=1","self":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1","clearCaches":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/clearCaches","invitations":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/invitations","users":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/users?link=1&offset=0&limit=100","uploads":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/uploads/","ldm":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/ldm","metadata":"/gdc/md/ghw4sq2hu8glp55gyq20q67ixx1wiku1","publicartifacts":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/publicartifacts","roles":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/roles","userRoles":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/users/5ad80b895edcc438e5a4418e222733fa/roles","userPermissions":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/users/5ad80b895edcc438e5a4418e222733fa/permissions","dataload":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/dataload","connectors":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/connectors","execute":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/execute","config":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/config","projectFeatureFlags":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/projectFeatureFlags","schedules":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/schedules","templates":"/gdc/md/ghw4sq2hu8glp55gyq20q67ixx1wiku1/templates","eventstores":"/gdc/projects/ghw4sq2hu8glp55gyq20q67ixx1wiku1/dataload/eventstore/stores"},"meta":{"created":"2018-05-31
        11:33:10","summary":"No summary","updated":"2018-05-31 11:33:10","author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","title":"GoodTravis","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 31 May 2018 09:33:11 GMT
[...]
- request:
    method: delete
    uri: https://staging2-lcm-prod.intgdc.com/gdc/account/login/5ad80b895edcc438e5a4418e222733fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - 2UMSlZ0cgNQWa10ALRVt5w:BVcVN8YFy9uVJdDBeP5eEw
      X-Gdc-Authsst:
      - "<X_GDC_AUTHSST>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      X-Gdc-Request:
      - 2UMSlZ0cgNQWa10ALRVt5w:BVcVN8YFy9uVJdDBeP5eEw:TeIM8IyBt3MnoYsM
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 09:50:29 GMT
recorded_with: VCR 4.0.0
